<div style="width: 500px; margin: auto;">
    <div class="submit-form">
        <div *ngIf="!submitted">
            <div class="form-group">
                <label for="summit">summit</label>
                <input type="text" class="form-control" id="summit" required [(ngModel)]="log.summit" name="summit" />
            </div>

            <div class="form-group">
                <label for="comment">comment</label>
                <input class="form-control" id="comment" required [(ngModel)]="log.comment"
                    name="comment" />
            </div>

            <div class="form-group">
                <label for="date">date</label>
                <input class="form-control" id="date" required [(ngModel)]="log.date"
                    name="date" />
            </div>

            <button (click)="createLog()" class="btn btn-success">Create</button>
        </div>

        <div *ngIf="submitted">
            <h3>You successfully created a product!</h3>
            <button class="btn btn-success" (click)="newLog()">New..</button>
        </div>
    </div>
</div>